@using APIFerreteria

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@articulo.Producto</h5>
    <h6 class="card-subtitle mb-2 text-muted">@articulo.Marca</h6>
    <p class="card-text">@articulo.Info</p>
    <a href="#" class="card-link">Edit</a>
    <a href="#" class="card-link">Delete</a>
  </div>
</div>

@code {
    [Parameter]
    public Articulo articulo { get; set; }
}
